---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro'; // You'll build this next
import Roadmap from '../components/Roadmap.astro';
---

<Layout title="My Portfolio">
  <Navbar />
  <main>
    <Hero name="YOUR NAME" />
    <section id="projects">
       </section>
    <section id="roadmap">
       <Roadmap />
    </section>
  </main>
</Layout>