---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/portfolio/Navbar.astro';
import Hero from '../components/portfolio/Hero.astro';
import Projects from '../components/portfolio/Projects.astro';
import Involvements from '../components/portfolio/Involvements.astro';
import Roadmap from '../components/portfolio/Roadmap.astro';
import Contact from '../components/portfolio/Contact.astro';


---

<Layout title="Portfolio" inPortfolio={true}>
  <main>
    <Hero />
    <!--<Projects />}-->
    <Roadmap />
    <Involvements />
    <Contact/>
  </main>
</Layout>